@use "sass:math";
$header-height: 46px;
$steps-section-width: 44.53125%;
$ticket-type-min-width: 750px;
// $form-margin-left: 12.67605633802817%;
// $form-margin-right: 17.37089201877934%;
$form-margin-top: 100px;
$form-margin-left: 12.5%;
$form-margin-right: 15.68075117370892%;
$form-margin-bottom: 120px;
$form-xs-margin-top: $header-height;
$form-xs-margin-left: 20px;
$form-xs-margin-right: 20px;
$form-xs-margin-bottom: $form-margin-bottom;
$element-x-padding: 40px;
$element-height: $element-x-padding * 2;
$label-size: 12px;
// colors
$primary: #007bff;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
// mobile header
header {
  z-index: 99;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #fff;
}
// layouts
#steps, #form {
  height: 100vh;
}
// form section (right)
#form {
  overflow: hidden;
  position: relative;
  width: 100% - $steps-section-width;
  .form-layer {
    overflow: auto;
    position: relative;
    backface-visibility: hidden;
    transition: opacity .7s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    position: absolute;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    .form-step {
      position: relative;
      min-height: 100%;
      padding: $form-margin-top $form-margin-right $form-margin-bottom $form-margin-left
    }
  }
}
// steps section (fixed on left)
#steps {
  width: $steps-section-width;
  background-image: url(https://dummyimage.com/1920x1200/aaa/ababab);
  background-size: cover;
  background-position: center center;
  ul > li.active a {
    color: #fff;
    background-color: $primary;
  }
}
#footer {
  position: absolute;
  bottom: 0;
}

// components
// steps list
#steps-list {
  margin-top: 100px;
  margin-left: 70px;
  li {
    &:not(:last-child):after {
      content: '';
      height: 180px;
      display: block;
      width: 1px;
      background-color: #fff;
      margin-left: 24.5px;
    }
    .badge {
      width: 50px;
      height: 50px;
      border: solid 2px #fff;
      font-size: 12px;
      padding-top: 16.5px;
      padding-bottom: 16.5px;
    }
  }
}
// buttons
.btn {
  font-size: $label-size;
  line-height: 1;
  border: 0;
  padding-left: $element-x-padding;
  padding-right: $element-x-padding;
  padding-top: math.div($element-height - $label-size, 2);
  padding-bottom: math.div($element-height - $label-size, 2);
  .icon {
    margin-left: 32px;
  }
}
// language switch
.lang-switch {
  position: absolute;
  // for tablet and desktop
  .form-layer & {
    top: 86px;
    right: 70px;
    z-index: 99;
  }
  // for mobile
  header & {
    top: 16px;
    right: 16px;
  }
}
// ticket type switch
#ticket-type {
  &-container {
    width: 100%;
    overflow-x: auto;
    // FireFox
    scrollbar-width: none;
    // IE10+
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
      // Chrome, Safari, Edge
      display: none;
    }
  }
  &-switch {
    min-width: $ticket-type-min-width;
  }
}
// form and input box
form {
  .input-label {
    position: absolute;
    padding-left: 1rem;
    margin: 0;
    transform: translateY(2rem);
    font-size: 100%;
    transition: transform .3s, font-size .3s;
    &.focus {
      font-size: 70%;
      transform: translateY(1rem);
    }
  }
  .form-control {
    height: auto;    
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}
// list style
ul.list-unstyled.custom-disc {
  li {
    display: flex;
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border: solid 3px $primary;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 10px;
      flex-shrink: 0;
      margin-top: 6px;
    }
  }
}
// time slots
#time-slots {
  display: flex;
  flex-wrap: wrap;
  .col {
    // flex: 1 0 20%;
    // -ms-flex: 1 0 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
}

// responsive handling
@media(max-width: 991px) {
  #form {
    width: 100%;
    .form-layer {
      margin-top: $header-height;
      .lang-switch {
        display: none;
      }
      .form-step {
        padding-top: 0;
        padding-left: $form-xs-margin-left;
        padding-right: $form-xs-margin-right;
      }
    }
  }
}