extends ../pug/page

block vars

block pageTitle

block pageStyle
  title Bootstrap

block mainContent
  h2 Bootstrap Components
  h3.mt-4 Accordion
  .mt-3
  include ../pug/bootstrap/accordion
  h3.mt-4 Alert
  .mt-3
  include ../pug/bootstrap/alert
  h3.mt-4 Badge
  .mt-3
  include ../pug/bootstrap/badge
  h3.mt-4 Breadcrumb
  .mt-3
  include ../pug/bootstrap/breadcrumb
  h3.mt-4 Buttons
  .mt-3
  include ../pug/bootstrap/buttons
  h3.mt-4 Button group
  .mt-3
  include ../pug/bootstrap/buttonGroup
  h3.mt-4 Card
  .mt-3
  include ../pug/bootstrap/card

block pageJS
  // vendor
  //- script(src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js')
  // custom script
  //- script(src="js/test.js")
  script.
    document.addEventListener('DOMContentLoaded', () => {
      setNavBottomItem(1)
    })