extends ../pug/page
include ../pug/component/button
include ../pug/component/input
include ../pug/component/image

block vars

block pageTitle

block pageStyle
  title PWA HOME

block navbar
  +navbarFixedTop({
    design: 1,
    icon: 'icon-back',
    text: 'Change Password',
    class: 'shadow-none'
  })

block mainContent
  .mt-4
  +input({
    design: 2,
    label: 'Current Password',
    placeholder: 'Old Password'
  })
  +input({
    design: 2,
    label: 'New Password',
    placeholder: 'New Password'
  })
  +input({
    design: 2,
    label: '',
    placeholder: 'Verify'
  })
  .mt-auto.mb-5
    +button({
      design: 1,
      class: 'btn-lg',
      fullWidth: true,
      label: 'Update'
    })

block pageJS
  // custom script
  script(type="module" src="js/changePassword.js")
  script.
    setNavBottomItem(0);