extends ../../pug/page

block vars
  - var currentLang = 'en';

block pageTitle
  title Dated Ticket Holders

block langSwitch
  div
    a(href="../tc/index.pug") 繁體
    span |
    a(href="../sc/index.pug") 简体

  
block pageStyle
