.btn-group(role='group' aria-label='Basic mixed styles example')
  button.btn.btn-danger(type='button') Left
  button.btn.btn-warning(type='button') Middle
  button.btn.btn-success(type='button') Right