// bootstrap and register service worker
script(src='https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/js/bootstrap.bundle.min.js')
script(src='js/setTheme.js')
script.
  function setNavBottomItem(index) {
    document.querySelectorAll('.navbar.fixed-bottom .nav-link')[index].classList.add('active');
  }