-
  var demos = [
    {
      title: 'New',
      name: 'newV1',
      versions: 1
    },
    {
      title: 'Text Collapse',
      name: 'textCollapseV1',
      versions: 2
    },
    {
      title: 'Timeline',
      name: 'timelineV1',
      versions: 1
    },
    {
      title: 'Comment',
      name: 'commentV1',
      versions: 2
    }
  ].sort((a, b) => {
    if (a.name < b.name) return -1;
    if (a.name > b.name) return 1;
    return 0;
  })