mixin navbarFixedTop(option)
  // fixed top navbar
  nav#navbar-fixed-top.navbar.navbar-expand-lg.bg-body-tertiary.fixed-top.mx-auto.shadow-lg(style='padding-top:29px;padding-bottom:29px')
    .container-fluid.px-lg-5.px-3.max-view
      a.navbar-brand.me-0(href='#')
        include logo
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.text-center
        ul.navbar-nav.mx-auto.mb-2.mb-lg-0
          each item, index in cms.global.navbarItem
            li.nav-item.px-5
              a.nav-link(class=(index == 0 ? 'active' : '') aria-current=(index == 0 ? 'page' : false) href=item.link) #{item.text}
        a(href)
          i.bi(class=`bi-${cms.global.icon.cart}`)