// fixed bottom navbar
nav.navbar.navbar-expand-lg.bg-body-tertiary.fixed-bottom
  ul.nav.nav-pills.nav-fill.w-100.px-4.py-2
    li.nav-item
      a.nav-link(aria-current='page' href='index.html')
        span.icon-home
    li.nav-item
      a.nav-link(href='bootstrap.html')
        span.icon-home
    li.nav-item
      a.nav-link(href='index-3.html')
        span.icon-home
    li.nav-item
      a.nav-link(href='#')
        span.icon-home