mixin navs(option)
  nav.nav.flex-column
    each item, index in option.items
      a.nav-link(href=item.href class=`${index == option.activeIndex ? 'active' : ''}` aria-current=`${indx == option.activeIndex ? 'page' : null}`) !{item.title}