//- this is page template for all pages

//- component mixins
include navbarFixedTop

//- global var for all pages
-
  var Global = {
    // generate random figure for widget
    random: function(fr, to) {
      return Math.floor(Math.random() * (to - fr)) + fr;
    },
    uid: function() {
      return Math.floor(new Date().valueOf() * Math.random());
    },
    theme: 'light',
    entryPageName: 'index.html',
    currentLang: 'en',
  }

//- cms for all pages
include cms_en

//- vars for individual page
block vars

//- page html
doctype html
html(lang=Global.currentLang data-bs-theme=Global.theme)
  head
    meta(charset='utf-8')
    meta(http-equiv='cache-control, pragma', content='no-cache')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    // TODO: update url
    link(rel='canonical' href='https://yourWebsite.com')

    block pageTitle

    // icons and colors
    //- link(rel='manifest' href='./manifest.json')
    link(rel='shortcut icon' href='./favicon.ico')

    // SEO and Social Sharing and SEO
    meta(name='description' content)
    meta(name='robots' content='noodp')
    meta(name='author' content)
    meta(name='keywords' content='')
    meta(property='og:locale' content='en_US')
    meta(property='og:type' content='website')
    meta(property='og:title' content='CasePecker')
    meta(property='og:description' content='')
    // TODO: update url and image link
    meta(property='og:url' content='https://yourWebsite.com')
    meta(property='og:site_name' content='')
    meta(property='section:publisher' content='https://yourWebsite.com')
    meta(property='og:image' content='https://yourWebsite.com/share.jpg')

    // main style
    link(href='css/theme.css' rel='stylesheet preload' as='style' theme-color="golden")
      
    //- individual page style
    block pageStyle

  block pageBody
    body
      block navbar
        +navbarFixedTop()
      
      // main content
      main.container-fluid.d-flex.flex-column.px-0(data-bs-spy='scroll' data-bs-target='#navbar-fixed-top' data-bs-root-margin='0px 0px -40%' data-bs-smooth-scroll='true' style='min-height:100%')
        block mainContent
        include ../pug/footer

      //- include ../pug/themePanel

      #loader.fade.show.d-flex.align-items-center.justify-content-center(style='position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: black;z-index: 9999;')
        .spinner-border.text-primary(role='status')
          span.visually-hidden Loading...

      include ../pug/commonJS

      //- individual page js
      block pageJS