.bg-primary-subtle
  .max-view.px-3.px-lg-5.py-5
    .row.gy-5
      each item in cms.global.serviceBanner
        .col-12.col-md-6.col-lg-3
          .d-flex.justify-content-center
            i.bi(class=`bi-${item.icon}` style='font-size: 2.5rem;')
            h6.lh-base(style='padding-top: 7px;padding-left: 16px;')
              | #{item.title}
              br
              small.fw-normal.text-muted #{item.text}
    //- 
      .col-12.col-md-6.col-lg-3
        .d-flex.justify-content-center
          i.bi.bi-truck(style='font-size: 2.5rem;')
          h6.lh-base(style='padding-top: 7px;padding-left: 16px;')
            | Free Shipping
            br
            small.fw-normal.text-muted Any countries and regions
      .col-12.col-md-6.col-lg-3
        .d-flex.justify-content-center
          i.bi.bi-star(style='font-size: 2.5rem;')
          h6.lh-base(style='padding-top: 7px;padding-left: 16px;')
            | High Quality
            br
            small.fw-normal.text-muted crafted from top materials          
      .col-12.col-md-6.col-lg-3
        .d-flex.justify-content-center
          i.bi.bi-star(style='font-size: 2.5rem;')
          h6.lh-base(style='padding-top: 7px;padding-left: 16px;')
            | High Quality
            br
            small.fw-normal.text-muted crafted from top materials