.tags-wrapper.d-flex.overflow-auto
  span.badge.rounded-pill.text-bg-success #Yoga
  span.badge.rounded-pill.text-bg-danger #Sport
  span.badge.rounded-pill.text-bg-warning #Health
  span.badge.rounded-pill.text-bg-info #Good
  span.badge.rounded-pill.text-bg-light #Sea
  span.badge.rounded-pill.text-bg-dark #Blue