extends ../../../pug/page

block vars
  include ../../../pug/modifyVars
  -
    var currentLang = 'tc';
    var ticketType = 2;

block pageTitle
  title 入場證持有人

block pageBody
  include ../../../pug/modifyContent

  block pageJs
    include ../../../pug/modifyJs