mixin button(option)
  mixin buttonEl()
    case (option.design)
      when 1
        button.btn.btn-primary.rounded-pill(type='button' class=option.class) #{option.label}
      default
        button.btn.btn-primary(type='button' class=option.class) #{option.label}
  if (option.fullWidth)
    .d-grid.gap-2
      +buttonEl()
  else
    +buttonEl()