meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
meta(name='x-apple-disable-message-reformatting')
title
//
  [if mso]>
    <style>
      table {border-collapse:collapse;border-spacing:0;border:none;margin:0;}
      div, td {padding:0;}
      div {margin:0 !important;}
  	</style>
    <noscript>
      <xml>
        <o:OfficeDocumentSettings>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
      </xml>
    </noscript>
    <![endif]
style.
  body {
    margin: 0;
  }
  table, td, div, h1, p {
        font-family: Arial, sans-serif;
      }
      @media screen and (max-width: 530px) {
        .unsub {
          display: block;
          padding: 8px;
          margin-top: 14px;
          border-radius: 6px;
          background-color: #555555;
          text-decoration: none !important;
          font-weight: bold;
        }
        .col-lge {
          max-width: 100% !important;
        }
      }
      @media screen and (min-width: 531px) {
        .col-sml {
          max-width: 27% !important;
        }
        .col-lge {
          max-width: 73% !important;
        }
      }
  
div(role='article' aria-roledescription='email' lang='en' style='text-size-adjust:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#939297;')
  table(role='presentation' style='width:100%;border:none;border-spacing:0;')
    tbody
      tr
        td(align='center' style='padding:0;')
          //
            [if mso]>
                      <table role="presentation" align="center" style="width:600px;">
                      <tr>
                      <td>
                      <![endif]
          table(role='presentation' style='width:100%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:14px;line-height:22px;')
            tbody
              tr
                td(style="padding:0;background-color:#ffffff;")
                  img(src='https://raydesign-cdn.github.io/img/emailHeader.png' alt='Logo' style='width:100%;max-width:600;border:none;text-decoration:none;color:#ffffff;')
                  //- table(role='presentation' style='width:100%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;')
                    tbody
                      tr
                        //- td(style='padding:44px 30px;text-align:left;')
                          img(src='https://raydesign-cdn.github.io/img/logoMobile.png' width='232' alt='Logo' style='max-width:232px;height:auto;border:none;text-decoration:none;color:#ffffff;')
                        //- td(style='padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;position:relative')
                          img(src='http://localhost:8080/img/emailHeader.png' alt='Logo' style='width:100%;max-width:600;border:none;text-decoration:none;color:#ffffff;')
              //- content line 1
              tr
                td(style='padding:30px;background-color:#ffffff;')
                  p(style='margin-top:0;margin-bottom:16px;font-size:16px;line-height:32px;font-weight:bold;letter-spacing:-0.02em;')
                    | Dear Guest,
                  p(style='margin:0;font-size:14px;')
                    | Your reservation is successful. Please find your registered information as below.
              //- qr code
              tr
                td(style='text-align:center;padding:30px;height:346px;font-size:24px;line-height:28px;font-weight:bold;background-color:#ffffff;background:url(https://raydesign-cdn.github.io/img/hcard540.png) 26px 26px no-repeat')
                  img(src='https://raydesign-cdn.github.io/img/sampleQR.png' alt style='width:100px;height:auto;border:none;background-color:#ffffff;')
                //- td(style='padding:30px;font-size:24px;line-height:28px;font-weight:bold;background-color:#ffffff;')
                  //- img(src='https://raydesign-cdn.github.io/img/hcard.png' width='495' alt style='width:100%;height:auto;border:none;background-color:#ffffff;')
              //- detail info
              tr
                td(style='padding:20px 30px;background-color:#ffffff;')
                  table(role='presentation' style='width:100%;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:14px;line-height:20px;')
                    tbody
                      tr
                        td(style='width:50%;padding:0;font-size:14px;line-height:20px;font-weight:normal;color:#253B56;')
                          | Email
                        td(style='width:50%;padding:0;font-size:14px;line-height:20px;font-weight:bold;color:#0066B8;')
                          | king.yip@mirumagency.com
              tr
                td(style='padding:0px 30px;font-size:0;background-color:#ffffff;border-bottom:1px solid #E6EFF8;')
              tr
                td(style='padding:20px 30px;background-color:#ffffff;')
                  table(role='presentation' style='width:100%;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:14px;line-height:20px;')
                    tbody
                      tr
                        td(style='width:50%;padding:0;font-size:14px;line-height:20px;font-weight:normal;color:#253B56;')
                          | Email
                        td(style='width:50%;padding:0;font-size:14px;line-height:20px;font-weight:bold;color:#0066B8;')
                          | king.yip@mirumagency.com
              tr
                td(style='padding:0px 30px;font-size:0;background-color:#ffffff;')
                  div(style="width: 100%; height: 1px; background-color: #E6EFF8;")
              tr
                td(align='center' style='padding:30px 0;background-color:#ffffff;')
                  p(style='margin:0;')
                    a(href='modify.html?r=12345' style='background-color: #FF840A; text-decoration: none; padding: 33px 40px; color: #ffffff; border-radius: 50px; display:inline-block;')
                      span(style='mso-text-raise:10pt;font-weight:bold;line-height:1;font-style:italic;margin-right:33px;') MANAGE YOUR RESERVATION
                      span
                        img(src='https://raydesign-cdn.github.io/img/btnArrow.png')
              tr
                td(style='padding:30px;background-color:#ffffff;')
                  p(style='margin:0;color:#707070;font-size:12px;')
                    | Please be reminded that both the reservation QR code, the registered admission tickets and identity documents must be presented upon entry. As the reservation QR code is only valid for one-time entry on the registered date, all registrants must enter the park at the same time. If you have any enquiry, please contact the park’s Guest Relations team at（852）3923 2323 from 9am to 6pm.
                    br
                    br
                    | The Exclusive Offer to Hong Kong Residents from Monday to Thursday is not applicable from Friday to Sunday and all public holidays. Please ensure the admission ticket is valid on your selected visit date upon reservation.
