#form-step1.form-layer.active
  
  // language switch for tablet and desktop
  include langSwitch

  // mobile header
  include mobileHeader

  // step 1 form
  .form-step
    include artworks
    h1.text-blue.block-space !{dict.onlineReservation[currentLang]}
    .text-large.font-weight-bold.block-space !{dict.step1Subtitle[currentLang]}
    // ticket type
    include ticketTypeSwitch
    hr.block-space
    .text-large.font-weight-bold.block-space !{dict.tncLine1[currentLang]}

    .col-xs-12
      ul#tnc.list-unstyled.custom-disc
        li The Water World’s Online Reservation System will open bookings for the next 14 days at 5pm every day. All visitors are required to make an online reservation that includes health declaration prior to their visits. Reservations will be processed on a first-come, first-served basis. Upon arrival, visitors are required to present the reservation QR codes, their registered and valid admission tickets and identity documents to enter the Water World. Please note that any unauthorized resale of Water World admission tickets or reservation QR codes is prohibited by the Ocean Park.
        li
          | Ocean Park will implement below regulations in accordance with the Government’s Prevention and Control of Disease Ordinance (Cap. 599):
          br
          | (i) Guests are required to wear face masks and undergo body temperature check upon entry.
          br
          | (ii) All guests are required to scan the LeaveHomeSafe QR code or to register their names, contact number and visiting date and time, upon entry.
          br
          | (iii) Face masks must be worn at all areas inside the park (except when eating, at the slides and water pool areas).
          br
          | (iv) Park-wide capacity and capacities of individual facilities will be adjusted accordingly.
          br
          | (v) Tables in all restaurants will be kept at 1.5m distance.
        li Guests who feel unwell or display any COVID-19 symptoms such as fever (>=38°C), cough, sore throat or shortness of breath are recommended to seek medical advice immediately and stay home. Ocean Park reserves the right not to admit any person displaying such symptom(s).
        li Guests should not visit the park if they have a family member or live with someone who displays COVID-19 symptom(s).
        br
        br
        .text-large.font-weight-bold.block-space Online Reservation Procedure
        ul.list-unstyled.custom-disc
          li All guests must make an online reservation prior to visiting the Water World, except those with exemption.
          li
            | Guests exempted from reservation include:
            br
            | (i) Hong Kong residents aged 65 or above
            br
            | (ii) Hong Kong residents aged 65 or above with at most two accompanying children aged 3-11
            br
            | (iii) Children aged below 3
            br
            | (iv) Guests with “Registration Card for People with Disabilities” issued by the Health, Wealth and Food Bureau
          li Each reservation can include a maximum of 4 persons. Due to the capacity limitation, reservation will be processed on a first-come, first-served basis.
          li The admission ticket barcode number and the name printed on identity document must be filled in at the time of registration. In addition, a valid email address and contact number must be provided.
          li Upon successful reservation, guests will receive a reservation QR code on the same screen, followed by an email notification. Upon entry, guests must present both the reservation QR code, their registered and valid admission ticket and identity documents. The reservation QR code is only valid for one-time entry on the registered date. All registrants must enter the park at the same time.
          li Guest may modify or cancel the reservation via the link provided in the notification email.
          li Ocean Park reserves the right to amend the Water World’s admission procedures subject to weather conditions or actual circumstances without prior notice. If guests are affected and not able to enter Water World, their reservation QR code will also be considered invalid. Guests will need to make another reservation.
          li Data collected for reservation purpose will only be used for disease prevention and control measure implementation. The park reserves the right to use the collected data for related incidents where necessary. Please click here for the Personal Information Collection Statement.
          li If you have any enquiry, please contact the park’s Guest Relations team at (852) 3923 2323 from 9am to 6pm.

    .text-center.mt-5
      a#agree-tnc.step-btn.btn.btn-lg.btn-primary.rounded-pill(href="#form-step2" type='button') I understand
        img.icon(src='../../img/btnArrow.png')
  
    include footer
  
  #fading-bg
  