.lang-switch
  if (currentLang == 'en')
    a(href=`../tc/${Global.entryPageName}`) 繁體
  if (currentLang == 'tc' || currentLang == 'sc')
    a(href=`../en/${Global.entryPageName}`) Eng
  span.mx-3 |
  if (currentLang == 'en' || currentLang == 'tc')
    a(href=`../sc/${Global.entryPageName}`) 简体
  if (currentLang == 'sc')
    a(href=`../tc/${Global.entryPageName}`) 繁體