#reader-page.form-layer.d-none

  // mobile header
  include mobileHeader
  //- .d-flex.flex-column.h-100
  .form-step
    include artworks

    .block-space.text-center
      a#cancel-scan.btn.btn-lg.btn-primary.rounded-pill(href='' type='button' style='transform:translateZ(0)')
        img.icon(src='../../img/btnArrow.png' style='margin-right:22px;margin-left:0;transform:rotateY(180deg);')
        | #{dict.back[currentLang]}
    p#camera-message.text-center(index=1)
      span #{dict.loadingCamera[currentLang]}
      span.text-red #{dict.noCamera[currentLang][ticketType]}
    #reader
    include footer