h3.section-title.mb-0 #{dict.timeSession[currentLang]}
p.form-text.mb-4 #{dict.timeSessionDesc[currentLang]}

// sessions
.row.mb-3
  .mb-md-0.mb-3.col-12.col-md-6.field-container
    .custom-control.custom-checkbox
      input.custom-control-input#time-session-1(name='timeSession1' type='checkbox' required)
      label.custom-control-label(for='time-session-1')
        .d-flex
          span.section-title.text-blue AM
          span.badge.rounded-pill.text-orange.py-2.px-3.ml-2(style="line-height:11px;background-color: rgba(255, 132, 10, 0.1);") LOW
        p.form-text from 9:30am to 12:00pm
    .invalid-feedback.my-3 #{dict.errTimeSession1[currentLang]}
  .col-12.col-md-6.field-container
    .custom-control.custom-checkbox
      input.custom-control-input#time-session-2(name='timeSession2' type='checkbox' required)
      label.custom-control-label(for='time-session-2')
        .section-title.text-blue PM
        p.form-text from 12:00pm to 5:00pm
    .invalid-feedback.my-3 #{dict.errTimeSession2[currentLang]}

hr.my-4