$timeline-marker-size:  3rem;
$timeline-axis-width:   4px;
$timeline-theme-color:  $light;
$timeline-axis-padding: $timeline-marker-size * 0.5;

// elementary
.bm {

  // comment
  &-comment {
    .rounded-circle {
      width: var(--size);
      height: var(--size);
    }
    
    &-info {
      font-size: 0.875rem;
      width: calc(100% - var(--size) - 8px);
      flex-grow: 1;
    }
  }

  // timeline
  &-timeline {
    --lines: 3;
    position: relative;

    &-item {
      position: relative;

      &-layer {
        position: relative;
        will-change: width;
        transition: width .3s ease;
        padding-left: $timeline-axis-padding;
        padding-right: $timeline-axis-padding;
      }

      &-count {
        cursor: pointer;
        display: flex;
        margin-left: calc(-#{$timeline-marker-size} - #{$timeline-axis-width * .5});
      }

      &-marker {
        width: $timeline-marker-size;
        height: $timeline-marker-size;
        border: $timeline-axis-width solid $timeline-theme-color;
        border-radius: 50%;
        background-color: $timeline-theme-color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: $white;
      }

      &:not(.bm-timeline-item-right) {
        > div:first-child {
          border-right: $timeline-axis-width solid $timeline-theme-color;
        }

        .bm-timeline-item-content {
          margin-right: 1rem;
        }
      }

      &.bm-timeline-item-right {
        .bm-timeline-item-layer:first-child {
          order: 2;
        }

        .bm-timeline-item-layer:last-child {
          z-index: 1;
          order: 1;
          border-right: $timeline-axis-width solid $timeline-theme-color;
        }

        .bm-timeline-item-content {
          margin-left: 1rem;
        }

        .bm-timeline-item-count {
          flex-direction: row-reverse;
          margin-left: 0;
          margin-right: calc(-#{$timeline-marker-size} - #{$timeline-axis-width * .5});
        }

        .bm-timeline-item-dateTime {
          text-align: right;
        }
      }
      // hide the axis for the last item
      // &:last-child {
      //   &:not(.bm-timeline-item-right) > div:first-child {
      //     border-right-color: transparent;
      //   }
  
      //   &.bm-timeline-item-right > div:last-child {
      //     border-right-color: transparent;
      //   }
      // }

      &-content {
        background-color: var(--bs-body-bg);
      }

      @include media-breakpoint-down(md) {
        &-layer {
          border-right: 0 !important;
          padding-left: $timeline-axis-padding * .5;
          padding-right: $timeline-axis-padding * .5;
  
          &:first-child {
            order: 2;

            &::after {
              content: '';
              position: absolute;
              left: $timeline-axis-padding * -1;
              top: 0;
              bottom: 0;
              width: $timeline-axis-width;
              background-color: $timeline-theme-color;
            }
          }
        }

        &-content {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
        
        &-count {
          margin-left: 0 !important;
          margin-right: 0 !important;
          flex-direction: row !important;
        }

        &-dateTime {
          text-align: left !important;
        }
      }
    }

    &.bm-v2 {
      --lines: 1;

      .bm-timeline-item {
        > .col-12 {
          will-change: width;
          transition: width .3s ease;
        }

        .bm-timeline-item-toggle {
          > :last-child {
            display: none;
          }
        }

        &.bm-state-open {
          --lines: 9999;

          > .col-12:first-child {
            width: 100%;
          }
          
          .bm-timeline-marker {
            visibility: hidden;
          }

          .bm-timeline-item-toggle {
            > :first-child {
              display: none;
            }
            > :last-child {
              display: inline;
            }
          }
        }
      }
    }  
  }

  // text faded
  &-textFaded::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0.7, transparent), color-stop(0.8, rgba(255, 255, 255, 0.1)), color-stop(1, white));
    background: linear-gradient(180deg, transparent 0%, transparent 70%, rgba(255, 255, 255, 0.8) 90%, white 100%);
  }
  
  // rotateZ animation
  &-rotateZ {
    will-change: transform;
    transition: transform .3s ease;
    transform: rotateZ(var(--angle));
  }
  
  // text collapse
  &-textCollapse {
    --line-clamp: var(--lines, 1);
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: calc(var(--line-clamp) * #{$line-height-base}rem);
    will-change: max-height;
    transition: max-height .3s ease;

    &-toggle {
      position: relative;
      cursor: pointer;
    }

    &-expanded, &-expanding {
      -webkit-line-clamp: initial;
      text-overflow: initial;
      max-height: 100vh;

      &.bm-textFaded::after {
        display: none;
      }

      &.bm-textCollapse-collapsing {
        max-height: calc(var(--line-clamp) * #{$line-height-base}rem);
      }
    }
  }

  // utilities
  // hide bootstrap carot
  &-carot-none {
    &::before,
    &::after {
      display: none !important;
    }
  }

  // center cover
  &-centerCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}