// molecules

// alerts
.alert {
  &.v2 {
    border: 0;
    
    .progress {
      background-color: inherit;
    }
  }
  &.v1 {
    border: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-left: 12px solid;
  }
}
