extends ../../../pug/page

block vars
  include ../../../pug/modifyVars
  -
    var currentLang = 'en';
    var ticketType = 1;

block pageTitle
  title Open Dated Tickets Holders

block pageBody
  include ../../../pug/modifyContent

  block pageJs
    include ../../../pug/modifyJs