#calendar
  .d-flex.justify-content-between.mb-3
    h3.section-title #{dict.dateOfVisit[currentLang]}
    h3#dateOfVisit.section-title
  #datepicker(data-date='')
  small.text-right.d-block.mt-3
    span.mr-4 Available
    span.mr-4 Uavailable
    span.mr-3 Full
  input#my_hidden_input(name='dateOfVisit' type='hidden')
