#calendar
  .d-flex.justify-content-between.mb-3
    h3.section-title #{dict.dateOfVisit[currentLang]}
    h3#dateOfVisit.section-title
  #datepicker(data-date='')
  .text-right.mt-2
    span.mr-4
      small ●
      small.mr-1.text-red ●
      | Available
    span.mr-4
      small.mr-1.text-light-gray ●
      | Uavailable
    span.mr-3
      small.mr-1.font-weight-bold —
      | Full
  input#my_hidden_input(name='dateOfVisit' type='hidden')
