#calendar
  .d-flex.justify-content-between
    h3 #{dict.dateOfVisit[currentLang]}
    h3#dateOfVisit xx/xx/xxxx
  #datepicker(data-date='')
  input#my_hidden_input(name='dateOfVisit' type='hidden')
