#form-step3.form-layer.hidden
  // language
  include langSwitch
  .form-step
    .row.align-items-center
      .col
        h2.mb-0 Step 3
      .col.text-right
        label.mb-0.mr-2(for='shuttle-bus-input') Shuttle Bus Service
        #shuttle-bus-service.custom-control.custom-switch.d-inline
          input.custom-control-input#shuttle-bus-input(type='checkbox')
          label.custom-control-label(for='shuttle-bus-input')
    
    div(style='width:100%;height:300px;background-color:grey;')
      #time-slots
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00
        .col
          a(href='#') 08:00

    // page navigation row
    .row.align-items-center
      .col
        a.step-btn(href="#form-step2") < back
      .col.text-right
        btn#form-submit.btn.btn-primary.rounded-pill Submit
    include footer