#form-step3.form-layer.hidden
  // language
  include langSwitch

  // mobile header
  include mobileHeader

  // step 3 form
  .form-step
    h1.block-space !{dict.onlineReservation[currentLang]}
    h5.block-space !{dict.step1Subtitle[currentLang]}
    // alert message
    #alert-message.block-space
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. In officia inventore cum fuga hic.
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. In officia inventore cum fuga hic.

    hr.block-space

    .row.align-items-center.mb-4
      .col
        h3.section-title.mb-0 Step 3
      .col.text-right
        label.mb-0.mr-2(for='shuttle-bus-input') Shuttle Bus Service
        #shuttle-bus-service.custom-control.custom-switch
          input.custom-control-input#shuttle-bus-input(name='shuttleBusService' type='checkbox')
          label.custom-control-label(for='shuttle-bus-input')
    
    #time-slots-container
      #time-slots-heading
        a.prev(href='') &lt;
        h5 Morning
        a.next(href='') &gt;
      #time-slots
        a.col(href='#' value='08:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00
        a.col(href='#' value='09:00') 08:00

    small.text-right.d-block.mt-3.block-space
      span.mr-4 Available
      span.mr-3 Full

    input#shuttle-bus-timeslot(name='shuttleBusTimeSlot' type='hidden' value='')

    // page navigation row
    .row.align-items-center
      .col
        a.step-btn(href="#form-step2") < back
      .col.text-right
        a#form-submit.btn.btn-primary.rounded-pill(href='thankyou.pug') Submit
    include footer