#form-step1.form-layer
  // language
  include langSwitch
  // step 1 form
  .form-step
    div(style="background-color:#aaa;height:2000px")
      h2 Step 1
      // ticket type
      include ticketTypeSwitch
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptates sint commodi cupiditate officiis perferendis debitis amet aliquid ratione consequatur et autem, rem deleniti sapiente dolorem veritatis, cum quos unde.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptates sint commodi cupiditate officiis perferendis debitis amet aliquid ratione consequatur et autem, rem deleniti sapiente dolorem veritatis, cum quos unde.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptates sint commodi cupiditate officiis perferendis debitis amet aliquid ratione consequatur et autem, rem deleniti sapiente dolorem veritatis, cum quos unde.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptates sint commodi cupiditate officiis perferendis debitis amet aliquid ratione consequatur et autem, rem deleniti sapiente dolorem veritatis, cum quos unde.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptates sint commodi cupiditate officiis perferendis debitis amet aliquid ratione consequatur et autem, rem deleniti sapiente dolorem veritatis, cum quos unde.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptates sint commodi cupiditate officiis perferendis debitis amet aliquid ratione consequatur et autem, rem deleniti sapiente dolorem veritatis, cum quos unde.
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptates sint commodi cupiditate officiis perferendis debitis amet aliquid ratione consequatur et autem, rem deleniti sapiente dolorem veritatis, cum quos unde.
      a#agree-tnc.step-btn.btn.btn-lg.btn-primary.rounded-pill(href="#form-step2") I understand