- Global.currentStep = 4;

body
  main.container-fluid
    .row
      // steps
      include steps
      section#form.col-xs-12
        // step 4 - Thank You
        #form-step4.form-layer.active
          // language switch for tablet and desktop
          include langSwitch

          // mobile header
          include mobileHeader

          .form-step
            include artworks

            h1.block-space !{dict.onlineReservation[currentLang]}
            .text-large.font-weight-bold.block-space !{dict.step1Subtitle[currentLang]}
            h3#email.section-title.block-space abc@mirumagency.com
            hr.block-space

            .w-100.block-space.position-relative
              #qr-code-layer
                #qr-bg
                  img.w-100.img-fluid(src='/img/sampleQR.png')
              #qr-text-layer
                .text-large.font-weight-bold.text-right
                  | !{dict.reservationNumber[currentLang]}
                  br
                  span.text-white#reservation-number 12345654
                .text-white
                  | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, natus! Itaque, quas autem sequi incidunt obcaecati eveniet 
              img.img-fluid(src='/img/hcard.png')


            table#result-info.table.block-space
              tbody
                tr
                  td
                    | Date of Visit
                    br
                    small (DD/MM/YYYY)
                  td
                    | 15/08/2021
                tr
                  td
                    | Number of Guest
                  td
                    | 2 Guests
                tr
                  td
                    | Number of Guest
                  td
                    | Dated Ticket Holder
                    br
                    | 1234 5678 4554 4565 6785
                    br
                    | Tester 1

            p.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione itaque dicta aut assumenda, accusantium consequatur necessitatibus rem. Odio nisi eveniet temporibus placeat, quis aperiam delectus rem et libero qui non.
            p.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione itaque dicta aut assumenda, accusantium consequatur necessitatibus rem. Odio nisi eveniet temporibus placeat, quis aperiam delectus rem et libero qui non.

            include footer