-
  var dict = {
    ticketTypeLeft: {
      en: 'dated tickets holders',
      tc: 'dated tickets holders (tc)',
      sc: 'dated tickets holders (sc)'
    },
    ticketTypeMiddle: {
      en: 'open dated tickets holders',
      tc: 'open dated tickets holders (tc)',
      sc: 'open dated tickets holders (sc)'
    },
    ticketTypeRight: {
      en: 'pass holders',
      tc: 'pass holders (tc)',
      sc: 'pass holders (sc)'
    }
  }