-
  var dict = {
    onlineReservation: {
      en: 'Online<br>Reservation',
      tc: 'Online<br>Reservation (tc)',
      sc: 'Online<br>Reservation (sc)'
    },
    step1Subtitle: {
      en: 'Please select your type of the ticket.',
      tc: 'Please select your type of the ticket. (tc)',
      sc: 'Please select your type of the ticket. (sc)'
    },
    datedTicketsHolders: {
      en: 'Dated Tickets<br>Holders',
      tc: 'Dated Tickets Holders (tc)',
      sc: 'Dated Tickets Holders (sc)'
    },
    openDatedTicketsHolders: {
      en: 'Open Dated<br>Tickets Holders',
      tc: 'Open Dated Tickets Holders (tc)',
      sc: 'Open Dated Tickets Holders (sc)'
    },
    passHolders: {
      en: 'Pass Holders',
      tc: 'Pass Holders (tc)',
      sc: 'Pass Holders (sc)'
    },
    dateOfVisit: {
      en: 'Date of Visit',
      tc: 'Date of Visit (tc)',
      sc: 'Date of Visit (sc)'
    },
    guestName: {
      en: 'Guest Name',
      tc: 'Guest Name (tc)',
      sc: 'Guest Name (sc)'
    },
    verify: {
      en: 'Verify',
      tc: 'Verify (tc)',
      sc: 'Verify (sc)'
    },
    registered: {
      en: 'Registered',
      tc: 'Registered (tc)',
      sc: 'Registered (sc)'
    },
    guest: {
      en: 'Guest',
      tc: 'Guest (tc)',
      sc: 'Guest (sc)'
    },
    remove: {
      en: 'Remove',
      tc: 'Remove (tc)',
      sc: 'Remove (sc)'
    },
    numberOfGuest: {
      en: 'Number of Guest',
      tc: 'Number of Guest (tc)',
      sc: 'Number of Guest (sc)'
    },
    ticketBarcodeNumber: {
      en: 'Ticket Barcode Number',
      tc: 'Ticket Barcode Number (tc)',
      sc: 'Ticket Barcode Number (sc)'
    },
    email: {
      en: 'Email',
      tc: 'Email (tc)',
      sc: 'Email (sc)'
    },
    confirmEmail: {
      en: 'Confirm Email',
      tc: 'Confirm Email (tc)',
      sc: 'Confirm Email (sc)'
    },
    contactNumber: {
      en: 'Contact Number',
      tc: 'Contact Number (tc)',
      sc: 'Contact Number (sc)'
    },
    contactPerson: {
      en: 'Contact Person',
      tc: 'Contact Person (tc)',
      sc: 'Contact Person (sc)'
    },
    signUpForNews: {
      en: 'Sign Up For News',
      tc: 'Sign Up For News (tc)',
      sc: 'Sign Up For News (sc)'
    }
  }