header.d-lg-none
  div(style="width:180px;height:50px;")
    img.w-100(src='/img/logoMobile.png')
  include langSwitch

ul.mobile-steps.list-unstyled.d-lg-none.disabled
  each val in [1, 2, 3]
    li(class=((val == currentStep || val == 1 && !currentStep) ? 'active' : null) step=val)
      a.step-btn.badge.rounded-circle(href=`#form-step${val}`) #{val}
    li.divider
  li(class=(currentStep == 4 ? 'active' : null))
    span.badge.rounded-circle 4