//- Global instance for all pages
-
  var Global = {
    // generate random figure for widget
    random: function(fr, to) {
      return Math.floor(Math.random() * (to - fr)) + fr;
    },
    uid: function() {
      return Math.floor(new Date().valueOf() * Math.random());
    }
  }

include language

block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='cache-control, pragma', content='no-cache')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    block pageTitle
    // google fonts
    //- link(rel='preconnect' href='https://fonts.googleapis.com')
    //- link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    //- link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap' rel='stylesheet')
    // datepicker
    link(rel='stylesheet' href='https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css')
    // bootstrap
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
    // theme css
    link(rel="stylesheet", href="/css/style.scss")

    //- individual page style
    block pageStyle

  block pageBody
    body
      main.container-fluid
        header.d-lg-none
          h2 mobile header
          include langSwitch
        .row
          section#steps.d-none.d-lg-block
            // steps
            include steps
          section#form.col-xs-12
            // step 1 - TnC
            include formStep1
            form.needs-validation(name='guestForm' novalidate)
              // step 2 - Guest and Contact input
              include formStep2
              // step 3 form
              include formStep3

      // bootstrap
      script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')
      // datepicker
      script(src='https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js')
      // global script
      script(src="/js/index.js")

      //- individaul page js
      block pageJs