section#steps.d-none.d-lg-block.disabled
  ul#steps-list.list-unstyled
    each val in [1, 2, 3]
      li(class=((val == currentStep || val == 1 && !currentStep) ? 'active' : null) step=val)
        a.step-btn.badge.rounded-circle(href=`#form-step${val}`) #{val}
      li.divider
    li(class=(currentStep == 4 ? 'active' : null))
      span.badge.rounded-circle 4