ul#steps-list.list-unstyled
  each val in [1, 2, 3]
    li(class=(val == 1 ? 'active':null))
      a.badge.rounded-circle(href=`#form-step${val}`) #{val}
  li
    span.badge.rounded-circle.text-primary 4