#ticket-type-container
  .btn-group.btn-group-lg.rounded-pill(role='group' aria-label='ticket type')
    button.btn.btn-secondary.rounded-pill(type='button') !{dict.ticketTypeLeft[currentLang]}
    button.btn.btn-secondary.rounded-pill(type='button') !{dict.ticketTypeMiddle[currentLang]}
    button.btn.btn-secondary.rounded-pill(type='button') !{dict.ticketTypeRight[currentLang]}