#ticket-type-container
  #ticket-type-switch.btn-group.btn-group-lg(role='group' aria-label='ticket type')
    button.btn.btn-secondary(type='button') #{dict.ticketTypeLeft[currentLang]}
    button.btn.btn-secondary(type='button') #{dict.ticketTypeMiddle[currentLang]}
    button.btn.btn-secondary(type='button') #{dict.ticketTypeRight[currentLang]}