html
  head
    style.
      /*generated with Input range slider CSS style generator (version 20210711)
      https://toughengineer.github.io/demo/slider-styler*/
      input[type=range].styled-slider {
        width: 500px;
        height: 80px;
        -webkit-appearance: none;
      }

      /*progress support*/
      input[type=range].styled-slider.slider-progress {
        --range: calc(var(--max) - var(--min));
        --ratio: calc((var(--value) - var(--min)) / var(--range));
        --sx: calc(0.5 * 82px + var(--ratio) * (100% - 82px));
      }

      input[type=range].styled-slider:focus {
        outline: none;
      }

      /*webkit*/
      input[type=range].styled-slider::-webkit-slider-thumb {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        background: #007CF8;
        border: none;
        box-shadow: 0 0 2px black;
        margin-top: calc(80px * 0.5 - 82px * 0.5);
        -webkit-appearance: none;
      }

      input[type=range].styled-slider::-webkit-slider-runnable-track {
        height: 80px;
        border-radius: 50rem;
        background: #efefef;
        border: none;
        box-shadow: none;
      }
      input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
        background: linear-gradient(#007cf8,#007cf8) 0/var(--sx) 100% no-repeat, #efefef;
      }

      /*mozilla*/
      input[type=range].styled-slider::-moz-range-thumb {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        background: #007CF8;
        border: none;
        box-shadow: 0 0 2px black;
      }

      input[type=range].styled-slider::-moz-range-track {
        height: 80px;
        border-radius: 50rem;
        background: #efefef;
        border: none;
        box-shadow: none;
      }

      input[type=range].styled-slider.slider-progress::-moz-range-track {
        background: linear-gradient(#007cf8,#007cf8) 0/var(--sx) 100% no-repeat, #efefef;
      }

      /*ms*/
      /*
      input[type=range].styled-slider::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
      }

      input[type=range].styled-slider::-ms-fill-lower {
        background: transparent;
        border-color: transparent;
      }

      input[type=range].styled-slider::-ms-thumb {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        background: #007CF8;
        border: none;
        box-shadow: 0 0 2px black;
        margin-top: 0;
        box-sizing: border-box;
      }
      */

      input[type=range].styled-slider::-ms-track {
        height: 80px;
        border-radius: 50rem;
        background: #efefef;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
      }

      input[type=range].styled-slider.slider-progress::-ms-fill-lower {
        height: 80px;
        border-radius: 50rem 0 0 50rem;
        margin: -undefined 0 -undefined -undefined;
        background: #007cf8;
        border: none;
        border-right-width: 0;
      }


  body
    input#guest-num.styled-slider.slider-progress(name='guestNum' type='range' min='1' max='4' value='1')
    script.
      for (let e of document.querySelectorAll('input[type="range"].slider-progress')) {
        e.style.setProperty('--value', e.value);
        e.style.setProperty('--min', e.min == '' ? '0' : e.min);
        e.style.setProperty('--max', e.max == '' ? '100' : e.max);
        e.addEventListener('input', () => e.style.setProperty('--value', e.value));
      }

